.mainContainer {
  background-color: white;
  height: 98.2vh;
  opacity: 0.95;
}

.leftContainer {
  width: 30%;
  float: left;
  height: 100%;
}

.rightContainer {
  width: 70%;
  float: right;
  height: 100%;
}

.img {
  height: 50%;
  width: 80%;
  padding-left: 10%;
  padding-top: 2%;
}

.sideText {
  width: 60%;
  float: left;
}

.shopLinks {
  width: 40%;
  float: right;
}

.first {
  width: 33%;
  float: left;
  text-align: center;
  cursor: pointer;
}

.second {
  width: 33%;
  float: left;
  text-align: center;
  cursor: pointer;
}

.third {
  width: 33%;
  float: right;
  text-align: center;
  cursor: pointer;
}

.firstImg {
  height: 40%;
  width: 40%;
}

.secondImg {
  height: 35%;
  width: 35%;
}

.thirdImg {
  height: 70%;
  width: 70%;
}

.tickImg {
  height: 80%;
  width: 80%;
  margin-top: 4%;
}

.leftImgHolder {
  width: 10%;
  float: left;
}

.rightH1Holder {
  width: 90%;
  float: right;
}

.comText {
  font-size: 4.5vw;
  font-weight: 200;
}

.techSpecs {
  background-color: pink;
  margin-top: 15%;
}

.hackintoshCompatibility {
  margin-top: 3%;
}

.backImg {
  height: 5%;
  width: 5%;
}
