.helper {
  padding: 10vh 0;
}

/* Paper */
.paper:hover {
  background: #db5151;
  color: whitesmoke;
  opacity: 0.92;
}

.paper h1 {
  margin: 0;
}

.paper-content {
  width: 100%;
  height: 100%;
}

.paper-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70%;
}

.paper-text {
  height: 30%;
  text-align: center;
}

/* Material UI Icons */
.material-icons {
  text-align: center;
  font-size: 6rem;
}
