
.label{
   color: white;
   font-size: 4vh;
   font-weight: 400;
}
.searchContainerHolder{
   padding-top: 20%;
}
.searchContainer{
   width: 100%;
   background: white;
   
}
.searchDropdown{
   background: green;
   width: 25%;
   float: left;
   height: 13vh;
   opacity: .5;
}
.searchBox{
   background: red;
   width: 50%;
   float: left;
   height: 13vh;
   opacity: .5;
  
}
.searchButton{
   background: white;
   width: 25%;
   float: right;
   height: 13vh;
   opacity: .5;
}

.rsb{
  padding-top: 1.9%;
}

.mainDropdown{
   padding-top: 4%;
   
}

.myClassName{
   width: 55%;
   height: 10vh;
   float: right;
   text-align: center;
   align-items: center;
}

.mainClassName{
   border-width: 10px;
   border-color: white;
   border-radius: 360px;
}

.myPlaceholderClassName{
  padding-top: 18%;
}

.myArrowClassName{
   
   margin-top: 3vh;
}